

.container {
    margin-top: 2%;
    border: $blanco solid 2px;
    align-items: center;
    article{
        padding: 5%;
           h2 {
             color: black;
           border: none;
            }
     }
}


.pagination {
    margin-top: 2%;
}

