* {
    padding: 0;
    margin: 0;
}

.imagenInicio {
    background-image: url("../imagenes/hongo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    nav {
      background-color: $lila;
      border-bottom: solid 3px white;
      a{
        color: blanchedalmond;
       }
    }
}



footer {

    margin-bottom: 0px;
    padding: 10px;
    font-weight: bold;
    background-color: black;
}

