* {
    padding: 0;
    margin: 0;
}

.imagenInicio {
    background-image: url("../imagenes/hongo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    nav {
      background-color: $lila;
      border-bottom: solid 3px white;
      a{
        color: blanchedalmond;
       }
    }
}



footer {

   margin: auto;
   padding: 50px 10px;
   font-weight: bold;
   background-color: black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   h3{
       color: $blanco;
   }
   .footer1{
       display: flex;
       flex-direction: column;
   }
}

