@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.imagenInicio {
  background-image: url("../imagenes/hongo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.imagenInicio nav {
  background-color: black;
  border-bottom: solid 3px white;
}

.imagenInicio nav a {
  color: #e8cbc0;
}

/*
footer 
*/
#footer .twitter {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

#footer .facebook {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -233px 0;
}

#footer .skype {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -156px 0;
}

#footer .flickr {
  background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
  background-repeat: no-repeat;
  background-position: -310px 0;
}

#footer a {
  height: 56px;
  width: 56px;
  display: inline-block;
  margin: 10px;
}

#footer a:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

#footer .twitter:hover {
  background-position: 0 -56px;
}

#footer .facebook:hover {
  background-position: -233px -56px;
}

#footer .skype:hover {
  background-position: -156px -56px;
}

#footer .flickr:hover {
  background-position: -310px -56px;
}

.footerSecciones {
  padding: 10px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h3 {
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-bottom: 2px solid white;
}

.linea {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 50px;
  margin: 20%;
}

#headerInicio {
  margin-top: 20.7%;
  border-top: solid 3px white;
  border-bottom: solid 1px white;
}

main {
  background-image: -webkit-gradient(linear, right top, left top, from(#636fa4), to(#e8cbc0));
  background-image: linear-gradient(to left, #636fa4, #e8cbc0);
  padding: 2%;
}

.frase {
  background-image: url(../imagenes/sun.jpg);
  border: solid 5px white;
  margin: 2%;
  padding: 5%;
  opacity: 0.9;
}

#picasso {
  color: white;
}

.blockquote-footer {
  color: white;
}

h2 {
  text-align: center;
  background-color: #606b9c;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  padding: 10px;
  color: white;
}

.cards {
  background-image: -webkit-gradient(linear, right top, left top, from(#636fa4), to(#e8cbc0));
  background-image: linear-gradient(to left, #636fa4, #e8cbc0);
  padding: 2%;
}

.cardsInicio {
  margin: 2%;
}

.card-title {
  text-align: center;
}

article {
  background-image: -webkit-gradient(linear, right top, left top, from(#636fa4), to(#e8cbc0));
  background-image: linear-gradient(to left, #636fa4, #e8cbc0);
}

article button {
  margin-left: 45%;
  margin-bottom: 2%;
}

/*Animación título principal*/
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

#blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid black;
}

.blogHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogHeader span {
  color: #fdd8ee;
}

.blogHeader h3 {
  font-size: 2.4rem;
  color: white;
  font-weight: 600;
}

.blogContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, right top, left top, from(#636fa4), to(#e8cbc0));
  background-image: linear-gradient(to left, #636fa4, #e8cbc0);
}

.blogBox {
  width: 350px;
  background-color: white;
  border: 1px solid black;
  margin: 20px;
}

.blogImg {
  width: 100%;
  height: auto;
}

.blogImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blogTexto {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogTexto span {
  color: black;
  font-size: 0.9rem;
}

.blogTexto p {
  font-size: 0.9rem;
  margin: 20px 0px;
}

.blogTexto .blogTitulo {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.blogTexto .blogTitulo:hover {
  color: #e8cbc0;
  -webkit-transition: all ease 0, 3s;
  transition: all ease 0, 3s;
}

.blogTexto a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.blogTexto a:hover {
  color: #e8cbc0;
  -webkit-transition: all ease 0, 3s;
  transition: all ease 0, 3s;
}

.tituloGaleria {
  margin: 2% 8%;
}

.container {
  margin-top: 2%;
  border: white solid 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container article {
  padding: 5%;
}

.container article h2 {
  color: white;
  border: none;
}

.container article p {
  color: white;
}

.pagination {
  margin-top: 2%;
}

.fondo {
  background-color: black;
}

nav {
  border-bottom: solid 3px white;
}

a {
  color: #e8cbc0;
}

.tienda {
  background-image: -webkit-gradient(linear, right top, left top, from(#636fa4), to(#e8cbc0));
  background-image: linear-gradient(to left, #636fa4, #e8cbc0);
  margin: 2%;
  padding: 2%;
}

.pTienda {
  color: white;
}

.imgOpacity {
  max-width: 100%;
  opacity: 0.7;
  -webkit-transition: width 2s;
  transition: width 2s;
  filter: alpha(opacity=40);
}

.imgOpacity:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  width: 130%;
}

.cuadro1 {
  grid-area: Cuadro1;
}

.cuadro2 {
  grid-area: Cuadro2;
}

.cuadro3 {
  grid-area: Cuadro3;
}

.cuadro4 {
  grid-area: Cuadro4;
}

.cuadro5 {
  grid-area: Cuadro5;
}

.cuadro6 {
  grid-area: Cuadro6;
}

.cuadro7 {
  grid-area: Cuadro7;
}

.cuadro8 {
  grid-area: Cuadro8;
}

.cuadro9 {
  grid-area: Cuadro9;
}

.cuadro10 {
  grid-area: Cuadro10;
}

.cuadro11 {
  grid-area: Cuadro11;
}

.cuadro12 {
  grid-area: Cuadro12;
}

/*MS*/
@media screen and (min-width: 648px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 12fr;
        grid-template-rows: 12fr;
        grid-template-areas: "Cuadro1" "Cuadro2" "Cuadro3" "Cuadro4" "Cuadro5" "Cuadro6" "Cuadro7" "Cuadro8" "Cuadro9" "Cuadro10" "Cuadro11" "Cuadro12";
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-rows: 4fr 4fr 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr 4fr;
        grid-template-areas: "Cuadro1 Cuadro2 Cuadro3 " "Cuadro4 Cuadro5 Cuadro6" "Cuadro7 Cuadro8 Cuadro9" "Cuadro10 Cuadro11 Cuadro12";
  }
}

@media screen and (min-width: 992px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    -ms-grid-rows: 4fr 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr;
        grid-template-areas: "Cuadro1 Cuadro2 Cuadro3 Cuadro4 " "Cuadro5 Cuadro6 Cuadro7 Cuadro8" "Cuadro9 Cuadro10 Cuadro11 Cuadro12 ";
  }
}

.faq {
  background-color: #606b9c;
}

.tituloFaq {
  margin-bottom: 0%;
  margin-top: 5px;
  color: white;
  text-align: center;
}

.formulario {
  background-image: -webkit-gradient(linear, right top, left top, from(#636fa4), to(#e8cbc0));
  background-image: linear-gradient(to left, #636fa4, #e8cbc0);
  margin: 10%;
  padding: 5%;
}

.formulario button {
  margin-top: 20px;
}
/*# sourceMappingURL=estilos.css.map */