* {
  padding: 0;
  margin: 0;
}

.imagenInicio {
  background-image: url("../imagenes/hongo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.imagenInicio nav {
  background-color: #aa95b6;
  border-bottom: solid 3px white;
}

.imagenInicio nav a {
  color: blanchedalmond;
}

footer {
  margin: auto;
  padding: 50px 10px;
  font-weight: bold;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h3 {
  color: white;
}

.linea {
  text-decoration: none;
}

h1 {
  border: solid 5px #aa95b6;
  padding: 2px;
  text-align: center;
  font-size: 40px;
  margin: 20%;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

#headerInicio {
  margin-top: 20.7%;
  border-top: solid 3px white;
  border-bottom: solid 1px white;
}

main {
  background-color: #aa95b6;
  padding: 2%;
}

.frase {
  background-image: -webkit-gradient(linear, right top, left top, from(#b080cc), to(#c780c7));
  background-image: linear-gradient(to left, #b080cc, #c780c7);
  border: solid 5px white;
  margin: 2%;
  padding: 5%;
}

#picasso {
  color: white;
}

.blockquote-footer {
  color: white;
}

h2 {
  text-align: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#b080cc), to(#c780c7));
  background-image: linear-gradient(to left, #b080cc, #c780c7);
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  padding: 10px;
  color: white;
}

.cards {
  background-color: #aa95b6;
  padding: 2%;
}

.cardsInicio {
  margin: 2%;
}

.card-title {
  text-align: center;
}

article {
  background-color: #aa95b6;
}

article button {
  margin-left: 45%;
  margin-bottom: 2%;
}

#blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid black;
}

.blogHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogHeader span {
  color: #fdd8ee;
}

.blogHeader h3 {
  font-size: 2.4rem;
  color: white;
  font-weight: 600;
}

.blogContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogBox {
  width: 350px;
  background-color: #fffbfb;
  border: 1px solid black;
  margin: 20px;
}

.blogImg {
  width: 100%;
  height: auto;
}

.blogImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blogTexto {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogTexto span {
  color: black;
  font-size: 0.9rem;
}

.blogTexto p {
  font-size: 0.9rem;
  margin: 20px 0px;
}

.blogTexto .blogTitulo {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.blogTexto .blogTitulo:hover {
  color: violet;
  -webkit-transition: all ease  0,3s;
  transition: all ease  0,3s;
}

.blogTexto a {
  color: black;
  text-decoration: none;
}

.blogTexto a:hover {
  color: violet;
  -webkit-transition: all ease 0,3s;
  transition: all ease 0,3s;
}

.container {
  margin-top: 2%;
  border: white solid 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container article {
  padding: 5%;
}

.container article h2 {
  color: white;
  border: none;
}

.container article p {
  color: white;
}

.pagination {
  margin-top: 2%;
}

.tienda {
  background-color: #aa95b6;
  margin: 2%;
  padding: 2%;
}

img {
  max-width: 100%;
}

.cuadro1 {
  grid-area: Cuadro1;
}

.cuadro2 {
  grid-area: Cuadro2;
}

.cuadro3 {
  grid-area: Cuadro3;
}

.cuadro4 {
  grid-area: Cuadro4;
}

.cuadro5 {
  grid-area: Cuadro5;
}

.cuadro6 {
  grid-area: Cuadro6;
}

.cuadro7 {
  grid-area: Cuadro7;
}

.cuadro8 {
  grid-area: Cuadro8;
}

.cuadro9 {
  grid-area: Cuadro9;
}

.cuadro10 {
  grid-area: Cuadro10;
}

.cuadro11 {
  grid-area: Cuadro11;
}

.cuadro12 {
  grid-area: Cuadro12;
}

/*MS*/
@media screen and (min-width: 648px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 12fr;
        grid-template-rows: 12fr;
        grid-template-areas: "Cuadro1" "Cuadro2" "Cuadro3" "Cuadro4" "Cuadro5" "Cuadro6" "Cuadro7" "Cuadro8" "Cuadro9" "Cuadro10" "Cuadro11" "Cuadro12";
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-rows: 4fr 4fr 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr 4fr;
        grid-template-areas: "Cuadro1 Cuadro2 Cuadro3 " "Cuadro4 Cuadro5 Cuadro6" "Cuadro7 Cuadro8 Cuadro9" "Cuadro10 Cuadro11 Cuadro12";
  }
}

@media screen and (min-width: 992px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    -ms-grid-rows: 4fr 4fr 4fr;
        grid-template-rows: 4fr 4fr 4fr;
        grid-template-areas: "Cuadro1 Cuadro2 Cuadro3 Cuadro4 " "Cuadro5 Cuadro6 Cuadro7 Cuadro8" "Cuadro9 Cuadro10 Cuadro11 Cuadro12 ";
  }
}

.faq {
  background-color: #aa95b6;
}

.tituloFaq {
  margin-bottom: 0%;
  margin-top: 5px;
}

.pTienda {
  color: white;
}

.formulario {
  background-image: -webkit-gradient(linear, right top, left top, from(#b080cc), to(#c780c7));
  background-image: linear-gradient(to left, #b080cc, #c780c7);
  margin: 10%;
  padding: 5%;
}

.formulario button {
  margin-top: 20px;
}
/*# sourceMappingURL=estilos.css.map */